In [1]:
#import needed packages
import pandas as pd

#imports our csv data to a variable
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')

#turn our data into a dataframe
air_data = pd.DataFrame(air_data)

In [2]:
#task 1: find the 5 locations with the highest mean and median values of each particulate
#groups the data by location
locations = air_data.groupby('sensor.name')

#prints tables for the top 5 mean and median of each particulate
locations.agg(mean_voc = ('voc', 'mean')).sort_values('mean_voc', ascending = False).head(5)

                                         mean_voc
sensor.name
Swnphd-ogallala                        399.434240
FCHD-YPS                               372.462720
Three Rivers Public Health Department  370.216208
ELVPHD Norfolk HD 4                    360.833744
Swnphd-mccook                          353.941581

In [3]:
locations.agg(median_voc = ('voc', 'median')).sort_values('median_voc', ascending = False).head(5)

                                       median_voc
sensor.name
Swnphd-ogallala                        423.082292
Swnphd-mccook                          381.468479
Three Rivers Public Health Department  376.810167
FCHD-YPS                               375.383500
ELVPHD Norfolk HD 4                    368.580500

In [4]:
locations.agg(mean_pm2_5 = ('pm2.5_atm', 'mean')).sort_values('mean_pm2_5', ascending = False).head(5)

                                                    mean_pm2_5
sensor.name
Broken Bow                                          928.710593
#16 - Richardson County Courthouse                  700.127342
#18 - Southeast District Health Department- Tec...  613.175352
NCDHD O'Neill #11                                   164.495078
Swnphd-mccook                                       123.011622

In [5]:
locations.agg(median_pm2_5 = ('pm2.5_atm', 'median')).sort_values('median_pm2_5', ascending = False).head(5)

                                                    median_pm2_5
sensor.name
Broken Bow                                             36.050240
#16 - Richardson County Courthouse                     11.977344
#18 - Southeast District Health Department- Tec...     10.322875
ELVPHD Norfolk HD 4                                     9.706229
ELVPHD Wisner HD 5                                      8.464583

In [6]:
locations.agg(mean_pm10_0 = ('pm10.0_atm', 'mean')).sort_values('mean_pm10_0', ascending = False).head(5)

                                                    mean_pm10_0
sensor.name
Broken Bow                                           929.678512
#16 - Richardson County Courthouse                   701.632446
#18 - Southeast District Health Department- Tec...   614.227248
NCDHD O'Neill #11                                    166.132578
Swnphd-mccook                                        124.227336

In [7]:
locations.agg(median_pm10_0 = ('pm10.0_atm', 'median')).sort_values('median_pm10_0', ascending = False).head(5)

                                                    median_pm10_0
sensor.name
Broken Bow                                              43.179094
#16 - Richardson County Courthouse                      13.305615
ELVPHD Norfolk HD 4                                     11.474708
#18 - Southeast District Health Department- Tec...      11.433729
ELVPHD Wisner HD 5                                      10.935958

In [8]:
#task 2: find maxiumim values of particulates as well as when and where they occured

#reduces data to the date, sensor name, and voc columns and then sorts to find the highest value of voc
air_data[['date', 'sensor.name', 'voc']].sort_values('voc', ascending = False).head(1)

          date      sensor.name          voc
2391  06/24/24  Swnphd-ogallala  1209.931571

In [9]:
air_data[['date', 'sensor.name', 'pm2.5_atm']].sort_values('pm2.5_atm', ascending = False).head(1)

          date                         sensor.name    pm2.5_atm
7561  02/18/25  #16 - Richardson County Courthouse  3782.823313

In [10]:
air_data[['date', 'sensor.name', 'pm10.0_atm']].sort_values('pm10.0_atm', ascending = False).head(1)

          date                         sensor.name   pm10.0_atm
7561  02/18/25  #16 - Richardson County Courthouse  3784.682542

In [11]:
#task 3:determine the impact temperature and humidity have on air quality
#defines a function that categorizes temperatures into 4 categories 
def temperature(temp):
    if temp < 32:
        return 'Freezing'
    elif temp < 50:
        return 'Cool'
    elif temp < 70:
        return 'Warm'
    else:
        return 'Hot'

#defines a function that categorizes humidity into 3 categories
def humidity(hum):
    if hum < 50:
        return 'Low'
    elif hum < 80:
        return 'Medium'
    else:
        return 'High'

In [12]:
#applies the temperature and humidity functions to add columns to the data
air_data['temperature_level'] = air_data['temperature'].apply(temperature)
air_data['humidity_level'] = air_data['humidity'].apply(humidity)

In [13]:
#groups data by temperature level
temperature_level = air_data.groupby('temperature_level')

#groups data by humidity level
humidity_level = air_data.groupby('humidity_level')

#provides mean and median for each temperature level
temperature_level.agg(mean_voc = ('voc', 'mean'), median_voc = ('voc', 'median'))

                     mean_voc  median_voc
temperature_level
Cool               288.558923  283.105000
Freezing           257.628626  251.385875
Hot                282.145818  237.298958
Warm               255.179179  225.691667

In [14]:
temperature_level.agg(mean_2 = ('pm2.5_atm', 'mean'), median_2 = ('pm2.5_atm', 'median'))

                       mean_2  median_2
temperature_level
Cool               143.167452  6.138187
Freezing           273.698560  8.957875
Hot                 70.145543  7.924854
Warm                85.914999  3.489583

In [15]:
temperature_level.agg(mean_10 = ('pm10.0_atm', 'mean'), median_10 = ('pm10.0_atm', 'median'))

                      mean_10  median_10
temperature_level
Cool               144.593363   7.517250
Freezing           276.080794  11.236998
Hot                 71.821037   9.223000
Warm                86.834046   4.349479

In [16]:
humidity_level.agg(mean = ('voc', 'mean'), median = ('voc', 'median'))

                      mean      median
humidity_level
High             19.395555    0.000000
Low             279.329347  258.075292
Medium          252.664069  197.070417

In [17]:
humidity_level.agg(mean = ('pm2.5_atm', 'mean'), median = ('pm2.5_atm', 'median'))

                      mean    median
humidity_level
High            533.786399  8.931062
Low              76.513935  5.638146
Medium           80.874444  9.870667

In [18]:
humidity_level.agg(mean = ('pm10.0_atm', 'mean'), median = ('pm10.0_atm', 'median'))

                      mean     median
humidity_level
High            536.520850  11.872094
Low              77.880520   6.676271
Medium           82.561133  11.062667

In [49]:
#Task 4: find instances of AQI health risks
#filters the data to find instances of particulates over the allowable amount
air_data.loc[air_data['pm2.5_atm'] > 34.4 , ['date', 'sensor.name', 'pm2.5_atm']].sort_values('pm2.5_atm', ascending = False)

          date                                        sensor.name    pm2.5_atm
7561  02/18/25                 #16 - Richardson County Courthouse  3782.823313
7583  02/19/25                 #16 - Richardson County Courthouse  3401.999333
7605  02/20/25                 #16 - Richardson County Courthouse  3243.746646
6962  01/21/25                 #16 - Richardson County Courthouse  3209.817146
7572  02/18/25                                         Broken Bow  3205.868854
...        ...                                                ...          ...
3138  07/25/24                                 ELVPHD Wisner HD 5    34.581292
3816  08/21/24  South Heartland District Health Dept. Superior...    34.568396
3191  07/27/24                 #16 - Richardson County Courthouse    34.523458
1353  05/14/24                         Ainsworth Public School #9    34.514479
1349  05/14/24                     TRPHD Dawson Co. Courthouse 25    34.462458

[547 rows x 3 columns]

In [50]:
air_data.loc[air_data['pm10.0_atm'] > 155, ['date', 'sensor.name', 'pm10.0_atm']].sort_values('pm10.0_atm', ascending = False)

          date                          sensor.name   pm10.0_atm
7561  02/18/25   #16 - Richardson County Courthouse  3784.682542
7583  02/19/25   #16 - Richardson County Courthouse  3403.435958
7605  02/20/25   #16 - Richardson County Courthouse  3245.613354
6962  01/21/25   #16 - Richardson County Courthouse  3211.046813
7572  02/18/25                           Broken Bow  3206.779708
...        ...                                  ...          ...
4684  09/29/24                           Broken Bow   264.340688
5996  12/04/24   #16 - Richardson County Courthouse   261.677250
2144  06/14/24  Loup Basin Public Health Department   231.757021
6076  12/08/24   #16 - Richardson County Courthouse   200.798396
2443  06/27/24                     Swnphd-Benklemen   188.977500

[391 rows x 3 columns]